# Mac OS X files
.DS_Store

# IDE commons
.idea
.vscode/*
.history/

# Misc & Project specific ignores
*.gen.go
/.gotools
/.env
/glass

# CI files
/dist
profile.cov

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
