on:
  push:
    branches:
      - main
  pull_request:

name: run tests
jobs:
  test:

    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: v1.51.2

    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Generate Static Assets
        run: make static-assets

      - name: Run linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          skip-pkg-cache: true

      - name: Run tests
        run: go test -covermode=count -coverprofile=cover.out ./...
      - name: Sanitize Converage Profile
        run: cat cover.out | grep -v ".gen.go" > coverage.out

      - name: Convert coverage.out to coverage.lcov
        uses: jandelgado/gcov2lcov-action@v1

      - name: Coveralls
        uses: coverallsapp/github-action@v1.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
